/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 20px;
  height: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #0004ff;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 0;
}

/* .favorite-btn.clicked {
  background-color: green;
} */
